bedrock-model-profiler/backend/statemachine/bedrock-profiler.asl.json
{
  "Comment": "Bedrock Model Profiler - Parallel Data Collection Workflow",
  "StartAt": "DiscoverRegions",
  "States": {
    "DiscoverRegions": {
      "Type": "Task",
      "Comment": "Dynamically discover AWS regions with Bedrock inference profiles and cache profiles to S3",
      "Resource": "${RegionDiscoveryFunction}",
      "Parameters": {
        "s3Bucket": "${S3Bucket}",
        "executionId.$": "$$.Execution.Id"
      },
      "ResultPath": "$.regionDiscovery",
      "Next": "InitializeExecution",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.regionDiscovery",
          "Next": "InitializeExecution"
        }
      ]
    },

    "InitializeExecution": {
      "Type": "Pass",
      "Comment": "Set up execution context with S3 paths, region lists, and inference profile cache keys",
      "Parameters": {
        "executionId.$": "$$.Execution.Id",
        "timestamp.$": "$$.Execution.StartTime",
        "regionDiscovery.$": "$.regionDiscovery",
        "config": {
          "s3Bucket": "${S3Bucket}",
          "pricingServiceCodes": [
            "AmazonBedrock",
            "AmazonBedrockService",
            "AmazonBedrockFoundationModels"
          ],
          "modelRegions.$": "$.regionDiscovery.featureRegions",
          "quotaRegions.$": "$.regionDiscovery.featureRegions",
          "featureRegions.$": "$.regionDiscovery.featureRegions",
          "inferenceProfileCacheKeys.$": "$.regionDiscovery.inferenceProfileCacheKeys"
        }
      },
      "ResultPath": "$",
      "Next": "ConfigSync"
    },

    "ConfigSync": {
      "Type": "Task",
      "Comment": "Sync frontend configuration from backend profiler-config.json",
      "Resource": "${ConfigSyncFunction}",
      "Parameters": {
        "s3Bucket.$": "$.config.s3Bucket",
        "executionId.$": "$.executionId",
        "generateJs": false
      },
      "ResultPath": "$.configSyncResult",
      "Next": "Wave1_ParallelCollection",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.configSyncError",
          "Next": "Wave1_ParallelCollection"
        }
      ]
    },

    "Wave1_ParallelCollection": {
      "Type": "Parallel",
      "Comment": "Wave 1: Collect pricing, models, and quotas in parallel",
      "Branches": [
        {
          "StartAt": "CollectPricing",
          "States": {
            "CollectPricing": {
              "Type": "Map",
              "Comment": "Collect pricing for each service code in parallel",
              "ItemsPath": "$.config.pricingServiceCodes",
              "MaxConcurrency": 3,
              "Parameters": {
                "serviceCode.$": "$$.Map.Item.Value",
                "s3Bucket.$": "$.config.s3Bucket",
                "executionId.$": "$.executionId"
              },
              "Iterator": {
                "StartAt": "InvokePricingCollector",
                "States": {
                  "InvokePricingCollector": {
                    "Type": "Task",
                    "Resource": "${PricingCollectorFunction}",
                    "Parameters": {
                      "serviceCode.$": "$.serviceCode",
                      "s3Bucket.$": "$.s3Bucket",
                      "s3Key.$": "States.Format('executions/{}/pricing/{}.json', $.executionId, $.serviceCode)"
                    },
                    "ResultPath": "$.result",
                    "Retry": [
                      {
                        "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException", "States.Timeout"],
                        "IntervalSeconds": 5,
                        "MaxAttempts": 3,
                        "BackoffRate": 2,
                        "JitterStrategy": "FULL",
                        "MaxDelaySeconds": 60
                      },
                      {
                        "ErrorEquals": ["ThrottlingException", "ProvisionedThroughputExceededException"],
                        "IntervalSeconds": 10,
                        "MaxAttempts": 5,
                        "BackoffRate": 2,
                        "JitterStrategy": "FULL",
                        "MaxDelaySeconds": 120
                      }
                    ],
                    "Catch": [
                      {
                        "ErrorEquals": ["States.ALL"],
                        "ResultPath": "$.error",
                        "Next": "PricingCollectorFailed"
                      }
                    ],
                    "TimeoutSeconds": 300,
                    "End": true
                  },
                  "PricingCollectorFailed": {
                    "Type": "Pass",
                    "Parameters": {
                      "status": "FAILED",
                      "serviceCode.$": "$.serviceCode",
                      "error.$": "$.error"
                    },
                    "End": true
                  }
                }
              },
              "ResultPath": "$.pricingResults",
              "Next": "AggregatePricing"
            },
            "AggregatePricing": {
              "Type": "Task",
              "Resource": "${PricingAggregatorFunction}",
              "Parameters": {
                "s3Bucket.$": "$.config.s3Bucket",
                "executionId.$": "$.executionId",
                "pricingResults.$": "$.pricingResults"
              },
              "ResultPath": "$.pricingAggregated",
              "Retry": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "IntervalSeconds": 3,
                  "MaxAttempts": 2,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL",
                  "MaxDelaySeconds": 30
                }
              ],
              "TimeoutSeconds": 120,
              "End": true
            }
          }
        },
        {
          "StartAt": "CollectModels",
          "States": {
            "CollectModels": {
              "Type": "Map",
              "Comment": "Extract models from all discovered regions in parallel",
              "ItemsPath": "$.config.modelRegions",
              "MaxConcurrency": 10,
              "Parameters": {
                "region.$": "$$.Map.Item.Value",
                "s3Bucket.$": "$.config.s3Bucket",
                "executionId.$": "$.executionId"
              },
              "Iterator": {
                "StartAt": "InvokeModelExtractor",
                "States": {
                  "InvokeModelExtractor": {
                    "Type": "Task",
                    "Resource": "${ModelExtractorFunction}",
                    "Parameters": {
                      "region.$": "$.region",
                      "s3Bucket.$": "$.s3Bucket",
                      "s3Key.$": "States.Format('executions/{}/models/{}.json', $.executionId, $.region)"
                    },
                    "ResultPath": "$.result",
                    "Retry": [
                      {
                        "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException", "States.Timeout"],
                        "IntervalSeconds": 3,
                        "MaxAttempts": 3,
                        "BackoffRate": 2,
                        "JitterStrategy": "FULL",
                        "MaxDelaySeconds": 60
                      }
                    ],
                    "Catch": [
                      {
                        "ErrorEquals": ["States.ALL"],
                        "ResultPath": "$.error",
                        "Next": "ModelExtractorFailed"
                      }
                    ],
                    "TimeoutSeconds": 60,
                    "End": true
                  },
                  "ModelExtractorFailed": {
                    "Type": "Pass",
                    "Parameters": {
                      "status": "FAILED",
                      "region.$": "$.region",
                      "error.$": "$.error"
                    },
                    "End": true
                  }
                }
              },
              "ResultPath": "$.modelResults",
              "Next": "MergeModels"
            },
            "MergeModels": {
              "Type": "Task",
              "Resource": "${ModelMergerFunction}",
              "Parameters": {
                "s3Bucket.$": "$.config.s3Bucket",
                "executionId.$": "$.executionId",
                "modelResults.$": "$.modelResults"
              },
              "ResultPath": "$.modelsMerged",
              "Retry": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "IntervalSeconds": 3,
                  "MaxAttempts": 2,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL",
                  "MaxDelaySeconds": 30
                }
              ],
              "TimeoutSeconds": 60,
              "End": true
            }
          }
        },
        {
          "StartAt": "CollectQuotas",
          "States": {
            "CollectQuotas": {
              "Type": "Map",
              "Comment": "Collect service quotas from all regions in parallel",
              "ItemsPath": "$.config.quotaRegions",
              "MaxConcurrency": 10,
              "Parameters": {
                "region.$": "$$.Map.Item.Value",
                "s3Bucket.$": "$.config.s3Bucket",
                "executionId.$": "$.executionId"
              },
              "Iterator": {
                "StartAt": "InvokeQuotaCollector",
                "States": {
                  "InvokeQuotaCollector": {
                    "Type": "Task",
                    "Resource": "${QuotaCollectorFunction}",
                    "Parameters": {
                      "region.$": "$.region",
                      "s3Bucket.$": "$.s3Bucket",
                      "s3Key.$": "States.Format('executions/{}/quotas/{}.json', $.executionId, $.region)"
                    },
                    "ResultPath": "$.result",
                    "Retry": [
                      {
                        "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException", "States.Timeout"],
                        "IntervalSeconds": 3,
                        "MaxAttempts": 3,
                        "BackoffRate": 2,
                        "JitterStrategy": "FULL",
                        "MaxDelaySeconds": 60
                      }
                    ],
                    "Catch": [
                      {
                        "ErrorEquals": ["States.ALL"],
                        "ResultPath": "$.error",
                        "Next": "QuotaCollectorFailed"
                      }
                    ],
                    "TimeoutSeconds": 60,
                    "End": true
                  },
                  "QuotaCollectorFailed": {
                    "Type": "Pass",
                    "Parameters": {
                      "status": "FAILED",
                      "region.$": "$.region",
                      "error.$": "$.error"
                    },
                    "End": true
                  }
                }
              },
              "ResultPath": "$.quotaResults",
              "End": true
            }
          }
        }
      ],
      "ResultPath": "$.wave1Results",
      "Next": "PrepareWave2"
    },

    "PrepareWave2": {
      "Type": "Pass",
      "Comment": "Restructure Wave 1 results for Wave 2 processing",
      "Parameters": {
        "executionId.$": "$.executionId",
        "config.$": "$.config",
        "pricingAggregated.$": "$.wave1Results[0].pricingAggregated",
        "modelsMerged.$": "$.wave1Results[1].modelsMerged",
        "quotaResults.$": "$.wave1Results[2].quotaResults",
        "modelCacheKeys.$": "$.wave1Results[1].modelsMerged.cacheKeys"
      },
      "Next": "Wave2_EnrichmentProcessing"
    },

    "Wave2_EnrichmentProcessing": {
      "Type": "Parallel",
      "Comment": "Wave 2: Enrich models with pricing, availability, features, and token specs",
      "Branches": [
        {
          "StartAt": "LinkPricing",
          "States": {
            "LinkPricing": {
              "Type": "Task",
              "Resource": "${PricingLinkerFunction}",
              "Parameters": {
                "s3Bucket.$": "$.config.s3Bucket",
                "executionId.$": "$.executionId",
                "pricingS3Key.$": "$.pricingAggregated.s3Key",
                "modelsS3Key.$": "$.modelsMerged.s3Key"
              },
              "ResultPath": "$.result",
              "Retry": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "IntervalSeconds": 3,
                  "MaxAttempts": 2,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL",
                  "MaxDelaySeconds": 30
                }
              ],
              "TimeoutSeconds": 120,
              "End": true
            }
          }
        },
        {
          "StartAt": "ComputeRegionalAvailability",
          "States": {
            "ComputeRegionalAvailability": {
              "Type": "Task",
              "Resource": "${RegionalAvailabilityFunction}",
              "Parameters": {
                "s3Bucket.$": "$.config.s3Bucket",
                "executionId.$": "$.executionId",
                "pricingS3Key.$": "$.pricingAggregated.s3Key",
                "regions.$": "$.config.featureRegions",
                "cacheKeys.$": "$.modelCacheKeys"
              },
              "ResultPath": "$.result",
              "Retry": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "IntervalSeconds": 5,
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL",
                  "MaxDelaySeconds": 60
                }
              ],
              "TimeoutSeconds": 300,
              "End": true
            }
          }
        },
        {
          "StartAt": "CollectFeatures",
          "States": {
            "CollectFeatures": {
              "Type": "Map",
              "Comment": "Collect inference profiles from all regions in parallel (using cached profiles from region-discovery)",
              "ItemsPath": "$.config.featureRegions",
              "MaxConcurrency": 10,
              "Parameters": {
                "region.$": "$$.Map.Item.Value",
                "s3Bucket.$": "$.config.s3Bucket",
                "executionId.$": "$.executionId",
                "inferenceProfileCacheKeys.$": "$.config.inferenceProfileCacheKeys"
              },
              "Iterator": {
                "StartAt": "InvokeFeatureCollector",
                "States": {
                  "InvokeFeatureCollector": {
                    "Type": "Task",
                    "Resource": "${FeatureCollectorFunction}",
                    "Parameters": {
                      "region.$": "$.region",
                      "s3Bucket.$": "$.s3Bucket",
                      "s3Key.$": "States.Format('executions/{}/features/{}.json', $.executionId, $.region)",
                      "inferenceProfileCacheKeys.$": "$.inferenceProfileCacheKeys"
                    },
                    "ResultPath": "$.result",
                    "Retry": [
                      {
                        "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException", "States.Timeout"],
                        "IntervalSeconds": 3,
                        "MaxAttempts": 3,
                        "BackoffRate": 2,
                        "JitterStrategy": "FULL",
                        "MaxDelaySeconds": 60
                      }
                    ],
                    "Catch": [
                      {
                        "ErrorEquals": ["States.ALL"],
                        "ResultPath": "$.error",
                        "Next": "FeatureCollectorFailed"
                      }
                    ],
                    "TimeoutSeconds": 60,
                    "End": true
                  },
                  "FeatureCollectorFailed": {
                    "Type": "Pass",
                    "Parameters": {
                      "status": "FAILED",
                      "region.$": "$.region",
                      "error.$": "$.error"
                    },
                    "End": true
                  }
                }
              },
              "ResultPath": "$.featureResults",
              "End": true
            }
          }
        },
        {
          "StartAt": "CollectTokenSpecs",
          "States": {
            "CollectTokenSpecs": {
              "Type": "Task",
              "Resource": "${TokenSpecsCollectorFunction}",
              "Parameters": {
                "s3Bucket.$": "$.config.s3Bucket",
                "executionId.$": "$.executionId",
                "modelsS3Key.$": "$.modelsMerged.s3Key"
              },
              "ResultPath": "$.result",
              "Retry": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "IntervalSeconds": 5,
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL",
                  "MaxDelaySeconds": 60
                }
              ],
              "TimeoutSeconds": 120,
              "End": true
            }
          }
        },
        {
          "StartAt": "CollectMantle",
          "States": {
            "CollectMantle": {
              "Type": "Map",
              "Comment": "Collect Mantle models from all regions in parallel",
              "ItemsPath": "$.config.featureRegions",
              "MaxConcurrency": 10,
              "Parameters": {
                "region.$": "$$.Map.Item.Value",
                "s3Bucket.$": "$.config.s3Bucket",
                "executionId.$": "$.executionId"
              },
              "Iterator": {
                "StartAt": "InvokeMantleCollector",
                "States": {
                  "InvokeMantleCollector": {
                    "Type": "Task",
                    "Resource": "${MantleCollectorFunction}",
                    "Parameters": {
                      "region.$": "$.region",
                      "s3Bucket.$": "$.s3Bucket",
                      "s3Key.$": "States.Format('executions/{}/mantle/{}.json', $.executionId, $.region)"
                    },
                    "ResultPath": "$.result",
                    "Retry": [
                      {
                        "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException", "States.Timeout"],
                        "IntervalSeconds": 3,
                        "MaxAttempts": 3,
                        "BackoffRate": 2,
                        "JitterStrategy": "FULL",
                        "MaxDelaySeconds": 60
                      }
                    ],
                    "Catch": [
                      {
                        "ErrorEquals": ["States.ALL"],
                        "ResultPath": "$.error",
                        "Next": "MantleCollectorFailed"
                      }
                    ],
                    "TimeoutSeconds": 120,
                    "End": true
                  },
                  "MantleCollectorFailed": {
                    "Type": "Pass",
                    "Parameters": {
                      "status": "FAILED",
                      "region.$": "$.region",
                      "error.$": "$.error"
                    },
                    "End": true
                  }
                }
              },
              "ResultPath": "$.mantleResults",
              "End": true
            }
          }
        },
        {
          "StartAt": "CollectLifecycle",
          "States": {
            "CollectLifecycle": {
              "Type": "Task",
              "Resource": "${LifecycleCollectorFunction}",
              "Parameters": {
                "s3Bucket.$": "$.config.s3Bucket",
                "s3Key.$": "States.Format('executions/{}/lifecycle/lifecycle.json', $.executionId)"
              },
              "ResultPath": "$.result",
              "Retry": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "IntervalSeconds": 5,
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL",
                  "MaxDelaySeconds": 60
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.error",
                  "Next": "LifecycleCollectorFailed"
                }
              ],
              "TimeoutSeconds": 90,
              "End": true
            },
            "LifecycleCollectorFailed": {
              "Type": "Pass",
              "Parameters": {
                "status": "FAILED",
                "error.$": "$.error"
              },
              "End": true
            }
          }
        }
      ],
      "ResultPath": "$.wave2Results",
      "Next": "PrepareAggregation"
    },

    "PrepareAggregation": {
      "Type": "Pass",
      "Comment": "Restructure all results for final aggregation. Note: enrichedModels removed - capabilities now come from model-extractor directly",
      "Parameters": {
        "executionId.$": "$.executionId",
        "config.$": "$.config",
        "pricingAggregated.$": "$.pricingAggregated",
        "modelsMerged.$": "$.modelsMerged",
        "quotaResults.$": "$.quotaResults",
        "pricingLinked.$": "$.wave2Results[0].result",
        "regionalAvailability.$": "$.wave2Results[1].result",
        "featureResults.$": "$.wave2Results[2].featureResults",
        "tokenSpecs.$": "$.wave2Results[3].result",
        "enrichedModels": {},
        "mantleResults.$": "$.wave2Results[4].mantleResults",
        "lifecycleData.$": "$.wave2Results[5].result"
      },
      "Next": "FinalAggregation"
    },

    "FinalAggregation": {
      "Type": "Task",
      "Resource": "${FinalAggregatorFunction}",
      "Parameters": {
        "s3Bucket.$": "$.config.s3Bucket",
        "executionId.$": "$.executionId",
        "pricingS3Key.$": "$.pricingAggregated.s3Key",
        "modelsS3Key.$": "$.modelsMerged.s3Key",
        "quotaResults.$": "$.quotaResults",
        "pricingLinked.$": "$.pricingLinked",
        "regionalAvailability.$": "$.regionalAvailability",
        "featureResults.$": "$.featureResults",
        "tokenSpecs.$": "$.tokenSpecs",
        "enrichedModels.$": "$.enrichedModels",
        "mantleResults.$": "$.mantleResults",
        "lifecycleData.$": "$.lifecycleData"
      },
      "ResultPath": "$.finalResult",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 5,
          "MaxAttempts": 2,
          "BackoffRate": 2,
          "JitterStrategy": "FULL",
          "MaxDelaySeconds": 60
        }
      ],
      "TimeoutSeconds": 180,
      "Next": "GapDetection"
    },

    "GapDetection": {
      "Type": "Task",
      "Resource": "${GapDetectionFunction}",
      "Comment": "Analyze pipeline output for gaps and determine if self-healing is needed",
      "Parameters": {
        "s3Bucket.$": "$.config.s3Bucket",
        "executionId.$": "$.executionId",
        "modelsS3Key.$": "$.finalResult.modelsS3Key",
        "pricingS3Key.$": "$.finalResult.pricingS3Key",
        "previousModelsKey": "latest/bedrock_models.json"
      },
      "ResultPath": "$.gapDetection",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 3,
          "MaxAttempts": 2,
          "BackoffRate": 2,
          "JitterStrategy": "FULL",
          "MaxDelaySeconds": 30
        }
      ],
      "TimeoutSeconds": 120,
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.gapDetectionError",
          "Next": "CopyToLatest"
        }
      ],
      "Next": "CheckShouldTriggerAgent"
    },

    "CheckShouldTriggerAgent": {
      "Type": "Pass",
      "Comment": "DISABLED: Self-healing agent temporarily disabled to prevent config corruption. TODO: Fix agent validation before re-enabling.",
      "Next": "CopyToLatest"
    },

    "CopyToLatest": {
      "Type": "Task",
      "Resource": "${CopyToLatestFunction}",
      "Parameters": {
        "s3Bucket.$": "$.config.s3Bucket",
        "executionId.$": "$.executionId",
        "finalResult.$": "$.finalResult"
      },
      "ResultPath": "$.copyResult",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 3,
          "MaxAttempts": 2,
          "BackoffRate": 2,
          "JitterStrategy": "FULL",
          "MaxDelaySeconds": 30
        }
      ],
      "TimeoutSeconds": 180,
      "Next": "InvalidateCache"
    },

    "InvalidateCache": {
      "Type": "Task",
      "Resource": "${CacheInvalidatorFunction}",
      "Parameters": {},
      "ResultPath": "$.cacheResult",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 2,
          "MaxAttempts": 1,
          "BackoffRate": 2
        }
      ],
      "TimeoutSeconds": 30,
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.cacheError",
          "Next": "ExecutionSucceeded"
        }
      ],
      "Next": "ExecutionSucceeded"
    },

    "ExecutionSucceeded": {
      "Type": "Succeed",
      "Comment": "Workflow completed successfully"
    }
  }
}
